In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Resources/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-05-18 14:24:47,-42.7826,147.0587,49.91,69,39,3.00
1,1,Sandnessjoen,NO,2022-05-18 14:24:48,66.0217,12.6316,59.52,51,0,10.36
2,2,Port Alfred,ZA,2022-05-18 14:22:30,-33.5906,26.8910,79.18,51,1,1.01
3,3,Qaanaaq,GL,2022-05-18 14:24:48,77.4840,-69.3632,29.01,69,99,5.99
4,4,Georgetown,MY,2022-05-18 14:20:25,5.4112,100.3354,85.95,78,20,0.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Port Alfred,ZA,2022-05-18 14:22:30,-33.5906,26.8910,79.18,51,1,1.01
4,4,Georgetown,MY,2022-05-18 14:20:25,5.4112,100.3354,85.95,78,20,0.00
7,7,Butaritari,KI,2022-05-18 14:24:49,3.0707,172.7902,81.12,76,47,8.68
8,8,Rikitea,PF,2022-05-18 14:24:49,-23.1203,-134.9692,77.22,69,98,16.58
10,10,Port Elizabeth,ZA,2022-05-18 14:24:50,-33.9180,25.5701,89.89,22,0,10.36
12,12,Waingapu,ID,2022-05-18 14:24:51,-9.6567,120.2641,78.19,80,99,6.73
18,18,Gat,IL,2022-05-18 14:21:02,31.6100,34.7642,84.40,43,1,13.31
20,20,Palasa,IN,2022-05-18 14:24:53,18.7667,84.4167,85.14,77,85,11.25
21,21,Avarua,CK,2022-05-18 14:24:14,-21.2078,-159.7750,75.25,94,28,3.44
26,26,Stillwater,US,2022-05-18 14:23:49,36.1156,-97.0584,79.07,73,0,8.05

In [14]:
preferred_cities_df.count()

City_ID       193
City          193
Country       191
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [15]:
preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       193
City          193
Country       191
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2      Port Alfred      ZA     79.18 -33.5906   26.8910
4       Georgetown      MY     85.95   5.4112  100.3354
7       Butaritari      KI     81.12   3.0707  172.7902
8          Rikitea      PF     77.22 -23.1203 -134.9692
10  Port Elizabeth      ZA     89.89 -33.9180   25.5701
12        Waingapu      ID     78.19  -9.6567  120.2641
18             Gat      IL     84.40  31.6100   34.7642
20          Palasa      IN     85.14  18.7667   84.4167
21          Avarua      CK     75.25 -21.2078 -159.7750
26      Stillwater      US     79.07  36.1156  -97.0584

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Port Alfred,ZA,79.18,-33.5906,26.8910,The Halyards Hotel
4,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
7,Butaritari,KI,81.12,3.0707,172.7902,Isles Sunset Lodge
8,Rikitea,PF,77.22,-23.1203,-134.9692,People ThankYou
10,Port Elizabeth,ZA,89.89,-33.9180,25.5701,39 On Nile Guest House
12,Waingapu,ID,78.19,-9.6567,120.2641,Pondok Wisata Elim
18,Gat,IL,84.40,31.6100,34.7642,OlusHome
20,Palasa,IN,85.14,18.7667,84.4167,Balaji tifen & meals veg & non veg hotel
21,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
26,Stillwater,US,79.07,36.1156,-97.0584,Hampton Inn & Suites Stillwater

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))