## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Resources/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Busselton,AU,-33.6500,115.3333,61.23,70,93,25.70,light rain
1,1,Hofn,IS,64.2539,-15.2082,53.62,54,75,14.97,broken clouds
2,2,East London,ZA,-33.0153,27.9116,58.14,94,0,4.61,clear sky
3,3,Kindu,CD,-2.9500,25.9500,71.64,95,100,2.04,light rain
4,4,Kapaa,US,22.0752,-159.3190,77.11,85,56,1.99,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
4,4,Kapaa,US,22.0752,-159.3190,77.11,85,56,1.99,broken clouds
5,5,Dingle,PH,10.9995,122.6711,77.43,89,97,4.27,overcast clouds
6,6,Atuona,PF,-9.8000,-139.0333,77.38,82,24,17.11,light rain
11,11,Gizo,SB,-8.1030,156.8419,81.81,75,13,4.63,few clouds
13,13,Puerto Ayora,EC,-0.7393,-90.3518,76.96,77,49,10.65,scattered clouds
16,16,Puerto Madero,MX,14.7208,-92.4215,85.51,68,91,8.70,overcast clouds
18,18,Rikitea,PF,-23.1203,-134.9692,75.90,76,8,13.96,clear sky
20,20,Avarua,CK,-21.2078,-159.7750,78.84,78,29,14.12,moderate rain
27,27,Butaritari,KI,3.0707,172.7902,81.48,81,100,13.98,moderate rain
29,29,Muli,MV,2.9167,73.5667,83.59,75,85,12.95,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                220
City                   220
Country                220
Lat                    220
Lng                    220
Max Temp               220
Humidity               220
Cloudiness             220
Wind Speed             220
Weather Description    220
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                220
City                   220
Country                220
Lat                    220
Lng                    220
Max Temp               220
Humidity               220
Cloudiness             220
Wind Speed             220
Weather Description    220
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Kapaa,US,77.11,broken clouds,22.0752,-159.3190,
5,Dingle,PH,77.43,overcast clouds,10.9995,122.6711,
6,Atuona,PF,77.38,light rain,-9.8000,-139.0333,
11,Gizo,SB,81.81,few clouds,-8.1030,156.8419,
13,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,
16,Puerto Madero,MX,85.51,overcast clouds,14.7208,-92.4215,
18,Rikitea,PF,75.90,clear sky,-23.1203,-134.9692,
20,Avarua,CK,78.84,moderate rain,-21.2078,-159.7750,
27,Butaritari,KI,81.48,moderate rain,3.0707,172.7902,
29,Muli,MV,83.59,overcast clouds,2.9167,73.5667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    #except BaseException as e:
        #print(e)
        #pp.pprint(hotels)
        #print("City not found. Skipping...")
        #break
    
    except (IndexError):
        print("Hotel not found... skipping.")
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df_clean = hotel_df[hotel_df["Hotel Name"]!=""]
hotel_df_clean.count()

City                   209
Country                209
Max Temp               209
Weather Description    209
Lat                    209
Lng                    209
Hotel Name             209
dtype: int64

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Resources/WeatherPy_vacation.csv"



# 8b. Export the City_Data into a csv
hotel_df_clean.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df_clean[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))